#gallery {
  grid-area: gallery;
}

#reservations {
  grid-area: reservations;
}

#reviews {
  grid-area: reviews;
}

#related-suggestions {
  grid-area: related-suggestions;
}

.nav {
  grid-area: nav;
}

.main-container {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-rows: auto;
  grid-template-area:
    "nav nav nav nav"
    "gallery gallery gallery gallery"
    ". intro reservations ."
    ". reviews . ."
    ". related-suggestions related-suggestions .";
}

